.DS_Store
dist/electron/*
dist/web/*

node_modules/
npm-debug.log
npm-debug.log.*
thumbs.db
!.gitkeep
package-lock.json

!build/icons/*
!build/assets/*

build/mac
build/builder-effective-config.yaml
build/frame-*.zip
build/frame-*.dmg.*
build/frame-*.dmg
build/latest-mac.yml
